html {
  scroll-behavior: smooth;
}

#tophat {
  color:white;
  font-family: 'Muli', sans-serif;
  text-align:center;
  font-size:1.1em;
  line-height: normal;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.col.one a{
  color: white !important;
   text-decoration: none !important;;

}

.col.one a:hover{
  color: white !important;
   text-decoration: none !important;;

}

.col.one{
  text-align: left;
  margin-left: 5px;
  font-size: .75em;
  font-family: 'Special Elite', cursive;
  color: white;
}

.col.three{
  text-align: right;
  margin-right: 5px;
  font-size: 1em;
  color: white;
}


.col.one1{
  text-align: left;
  margin-left: 10px;
  font-size: .75em;
  font-family: 'Muli', sans-serif;
  color: white;
}

.col.three1{
  text-align: right;
  margin-right: 10px;
}

.hero-container {
  height: 100vh;
}

.container {
  width:100%;

}


.story-container {
  width: 100%;
  background-image: url("../images/black_paper.png");
  color: white;
}

.width{
  width: 70%;
  margin: 0 auto;
}

.column {
  width:50%;
  height:100vh;
}

.column.left {
    float:left;
    background-color: black;
  }

.column.right {
    background-image:url(../images/earl-4.jpg);
    float:right;
    background-size: 100% 100%;
  }

.content{
    margin-top: 40%;
  }

  .author{
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: bold;
    text-align: center;
  }

  .author span{
      color: #D9B269;

    }

   .date{
       font-size: 15px;
       text-align: center;
       font-family: 'Lora', serif;
     }

    .video-content{
       width:70%;
       margin:0 auto;
       background-color: #3E3F3A;
       padding:10px;
     }

     .video-caption{
       font-family: 'Muli', sans-serif;
       font-size: 1em;
       margin-top:10px;
       color:white;
       text-align: center;
       font-size: italic;
     }

h1{
    font-family: 'Antic Didone', serif;
    font-size: 1em;
    color: white;
    text-align: center;
  }

h2{
    font-family: 'Antic Didone', serif;
    font-size: 4em;
    color: white;
    text-align: center;
  }

h3{
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
  }

h4{
    font-family: 'Antic Didone', serif;
    font-size: 1em;
    color: white;
    text-align: center;
  }



  p{
    font-family: 'Lora', serif;
    font-size: 1.25em;
    width: 60%;
    margin: 0 auto;
  }

  a{
     color: #D9B269;
     text-decoration: underline;

  }

  a:hover{
    text-decoration: none;
    color: #FFDA94;
  }

  .mobile-container{
    display: none;
  }

  .home-icon{
    display: none;
  }

  .mobile-title{
    display: none;
  }

  .mobile-description{
    display: none;
  }

  @media only screen and (max-width: 1024px) {

    .hide{
      display: none;
    }
    .hero-container{
      display: none;
    }

    .mobile-container{
      display: block;
    }
    .image-earl{
      width: 100%;
    vertical-align: top;
    }
    .home-icon{
      position: fixed;
      padding: 10px;
    }
    .mobile-title{
      display: block;
      width: 60%;
      margin: 0 auto;
      font-size: 2.5em;
      color:white;
      font-family: 'Antic Didone', serif;
    }

    .mobile-description{
      display: block;
      width: 60%;
      margin: 0 auto;
      font-size: 1em;
      color:white;
      font-family: 'Muli', serif;

    }
  }
