html {
  scroll-behavior: smooth;
}

#tophat {
  color:white;
  font-family: 'Muli', sans-serif;
  text-align:center;
  font-size:1.1em;
  line-height: normal;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.col.one{
  text-align: left;
  margin-left: 10px;
  font-size: .85em;
  font-family: 'Special Elite', cursive;
  color: white;
}

.col.three{
  text-align: right;
  margin-right: 10px;
}


.hero-container {
  height: 100vh;
    margin-bottom: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.article-title{
  font-family: 'Antic Didone', serif;
  font-size: 4em;
  color: white;
}

.article-desc{
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
  color: white;
}

.article-author{
  font-family: 'Antic Didone', serif;
  font-size: 1em;
  color: white;
}

.container {
  width:100%;
}

.story-container {
  width: 100%;
  background-image: url("../images/black_paper.png");
  color: white;
  margin-top: 0;
}

.cover-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


h1{
    font-family: 'Muli', sans-serif;
    font-size: 1.25em;
    color: white;
    text-align: center;
  }

h2{
  font-family: 'Antic Didone', serif;
    font-size: 4em;
    color: white;
    text-align: center;
  }

h3{
    font-family: 'Muli', sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    letter-spacing: 1px;
  }

h4{
    font-family: 'Antic Didone', serif;
    font-size: 1.25em;
    color: white;
    text-align: center;
  }

  p{
    font-family: 'Antic Didone', serif;
    font-size: 1.25em;
    width: 60%;
    margin: 0 auto;
  }

  .col.one a{
    color: white !important;
     text-decoration: none !important;;

  }

  .col.one a:hover{
    color: white !important;
     text-decoration: none !important;;

  }

a{
     color: #8A26CC ;
     text-decoration: underline;

  }

  a:hover{
    text-decoration: none;
    color: #AD30FF;
  }


  .data-viz{
  /*background-image: url("../images/black_paper.png");*/
  background-color: black;
  height: 100vh;
}

.data-viz img{
  margin-left: 25%;
  margin-top: 20vh;
}

.data-text{
  margin-top: 40vh;
}

#mapid {
  height: 500px;width:600px;
}

.leaflet-container {
    background-color:black;
}

.county_nam{
  font-family: 'Muli', sans-serif;
  font-size: 3em;
  color: white;
  margin-bottom: 20px;
  margin-top: 15%;
}

.total_resentanced{
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: white;
}

.released{
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: white;
}

.resentanced_nonlife{
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: white;
}

.given_life{
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: white;
}

.waiting_resentance{
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: white;
}

.total{
  font-family: 'Muli', sans-serif;
  color: white;
  font-size: 1.5em;
}
