/* Main Structural Elements */

html {
  scroll-behavior: smooth;
}

body{
  background-image: url("../images/black_paper.png");
  color: white;

}

.navbar{
  background-color:rgba(0, 0, 0, 0.5);

}


#topbar{
  font-family: 'Antic Didone', serif;
  font-size: 1.125em;
  color: white;
  padding-top: 5px;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0.5px 0.5px #D9B269;
}



/*body{
  background-color: #191617;
  color: white;
}*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero-container {
  position: relative;
  text-align: center;
  background-image: url("../images/inside-prison-dark.png");
  height:100vh;
  background-repeat: no-repeat;
}

#tophat {
  width:100%;
  color:#fff;
  font-family: 'Muli', sans-serif;
  position:fixed;
  z-index:10;
  line-height: normal;
  padding: 10px;

}

.col.one{
  text-align: left;
  margin-left:-13%;
  font-size: .9em;
  font-family: 'Special Elite', cursive;
  color: white;

}

.col.three{
  text-align: right;
margin-right:-13%;

}

.col.one a{
  color: white !important;
   text-decoration: none !important;;

}

.col.one a:hover{
  color: white !important;
   text-decoration: none !important;;

}


.opening-text{
  font-size: 1.25em;
  font-family: 'Lora', serif;
  letter-spacing: normal;
  padding-top:1em;
  margin:0 auto;
  width:70%;
  text-align: left;
}

hr{
  border: 1px solid white;
  width: 20%;
}

a{
   color: #D9B269;
   text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #FFDA94;
}

h3{
  font-family: 'Muli', sans-serif;
  font-size:1em;
  width:80%;
  padding-bottom: 5px;
  color:#FFDA94;
}

h4{
  font-family: 'Muli', sans-serif;
  font-size:1.5em;
  font-weight: 800;
  width:80%;
  padding-bottom: 5px;
}

/* .partners{
  font-family: 'Antic Didone', serif;
  font-size: 1em;
  padding: 5px;
} */

/* Animation */
.centered {
  font-family: 'Special Elite', cursive;
  letter-spacing: .2em;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80;
}

.line-1{
    color:white;
    position: relative;
    top: 50%;
    width: 22em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 4em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(225,225,225.75);}
  to{border-right-color: transparent;}
}

#test {
    margin-top: 20px;
    padding-top: 10px;
    color:white;
    font-family: 'Muli', sans-serif;
    letter-spacing: normal;
    font-size: 1.2em;
    width:80%;
    margin: 0 auto;
    text-align: center;
    display:none;
    height:50px;
}

/* Maryland and The Nation button styles */
#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: 0 !important;
}


.active{
  background-color: #D9B269;
  color: black; /* White text */
  border-color: #D9B269;
}

.unactive{
  background-color: #EAEAEA;
  color: black; /* black text */
  border-color:  #EAEAEA;
}

.btn-group button {
  padding: 15px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  text-align: center;
  font-family: 'Special Elite', cursive;
  text-transform: uppercase;
  font-size:1.7em;
}

.button-group{
  background-color: #D9B269;
  border-color: #D9B269;
  color: black;
  padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  font-family: 'Lora', serif;
  font-size:1em;
  border-radius: 6px;
  text-align: left;

}


.button-group:hover{
  background-color: #BDA172;
}

/* Maryland Container Elements */

h1{
  font-weight: 300;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size:2em;
}

.author{
  width: 60%;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.author-two{
  font-size: .9em;
  font-family: 'Muli', sans-serif;
  font-style: italic;
  margin-top: 20px;
}

.date{
  width: 60%;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  font-family: 'Muli', sans-serif;
  margin-top: 5px;
}

.caption{
  width: 70%;
  margin: 0 auto;
  font-size: 1.25em;
  font-family: 'Lora', serif;
  letter-spacing: normal;
}

.more{
  font-size: 1em;
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.project{
  background-color: #474747;
  width: 60%;
  margin: 0 auto;
  padding: 15px;
}


.about{
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  letter-spacing: normal;
  color: white;
  font-size: 1em;
  width: 50%;
}

.credits{
  margin: 0 auto;
  font-family: 'Muli', sans-serif;
  letter-spacing: normal;
  color: white;
  font-size: 1em;
  width: 50%;
}

.pbs-video{
  width:78%;
  margin:0 auto;
  background-color: #3E3F3A;
  padding:10px;
}

.video-caption{
  font-family: 'Muli', sans-serif;
  font-size: .9em;
  margin-top: 20px;
  color:white;
  text-align: center;
}

.row{
  width:80%;
  margin: 0 auto;
}

.description-text{
  font-size:1.25em;
  font-family: 'Lora', serif;
  letter-spacing: normal;
}

h5{
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
}

.card{
  background-color: #222222;
}

.card-title{
  color:white;
}

.card-text{
  font-family: 'Lora', serif;
  color: white;
}

.btn{
  font-family: 'Lora', serif;
}

.btn-primary{
  background-color: #6F63AD;
  border-color: #4F467A;
}

.btn-primary:hover{
  background-color: #4F467A;
  outline: 0 !important;
}

.col-md-12{
  margin-bottom:2em;
}

.col-sm-12{
  margin-bottom:2em;
}

span {
    font-size: 1em;
    color: #ccc;;
    display: block;
    line-height: 2;
}
img {
    vertical-align: middle;
    display: inline-block;
}

.center{

  margin:0 auto;
  width:77%;
  text-align: left;

}

.btnText {
    vertical-align: middle;
    display: inline-block;
}

.fas{
    text-align: right;
    font-size: 3em;
}

/* Media Queries*/

@media(max-width:1050px){
  h3{
    line-height: normal;
    padding-top: 10px;
  }

  h4{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
    font-size: 1.25em;
  }

  .centered{
    font-size: 1em;
  }

  #test{
    font-size: 1.2em;
  }

  .btn-group button {
    padding: 10px 10px; /* Some padding */
  }

  #wrapper{
    width:100%;
  }

  .btn-group button{
    font-size:1.4em;
  }
}

@media(max-width:760px){
  .centered{
    font-size: .8em;
    letter-spacing: .1em;
  }
  #test{
    font-size: 1.2em;
  }
}
