/* Main Structural Elements */

html {
  scroll-behavior: smooth;
}

.hero-container {
  position: relative;
  text-align: center;
  background-image: url("../images/crumpled-paper2.jpg");
  height:100vh;
}

#tophat {
  width:100%;
  color:#fff;
  background:#000;
  font-family: 'Muli', sans-serif;
  padding:3px;
  text-align:center;
  font-size:.75em;
  text-transform:uppercase;
  position:fixed;
  z-index:10;
  font-weight:bold;
  opacity:.8;
}

.opening-text{
  font-size:1.3em;
  font-family: 'Antic Didone', serif;
  letter-spacing: normal;
  padding-top:1em;
  margin:0 auto;
  width:80%;
}

hr{
  border: 1px solid white;
  width: 20%;
}

.story-heading {
  font-weight: 300;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size:2em;
}

a{
   color: #5C3CD1;
   text-decoration: underline;
}

a:hover{
  text-decoration: none;
  color:#8563FF;
}

h3{
  font-family: 'Muli', sans-serif;
  font-size:1em;
  width:80%;
  line-height: 2;
}

h4{
  font-family: 'Muli', sans-serif;
  font-size:1.5em;
  font-weight: 800;
  width:80%;
  line-height: 2;
}

/* Animation */
.centered {
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  letter-spacing: .2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80;
}

.line-1{
    color:white;
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 210%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 15em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(225,225,225.75);}
  to{border-right-color: transparent;}
}

#test {
    margin-top: 25px;
    padding-top: 10px;
    color:white;
    font-family: 'Antic Didone', serif;
    letter-spacing: normal;
    font-size: 1em;
    width:70%;
    margin: 0 auto;
    text-align: center;
    display:none;
    height:50px;
}

/* Maryland and The Nation button styles */
#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group button {
  background-color: #757399; /* Green background */
  border: 1px solid #3B3A4D; /* Green border */
  color: white; /* White text */
  padding: 15px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  text-align: center;
  font-family: 'Special Elite', cursive;
  text-transform: uppercase;
  font-size:1.7em;
}

.active{
  background-color: #312E66 !important;
}

.not-active:hover{
  background-color: #312E66 !important;
  .active{
    background-color: #757399 !important;
  }
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group button:hover {
  background-color: #3B3A4D;
}

/* Maryland Container Elements */

.pbs-video{
  width:80%;
  margin:0 auto;
  background-color: #3B3A4D;
  padding:15px;
}

.video-caption{
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  margin-top:20px;
  color:white;
}

.row{
  width:80%;
  margin: 0 auto;
}

.description-text{
  font-size:1.2em;
  font-family: 'Antic Didone', serif;
  letter-spacing: normal;
}

/* Media Queries*/

@media(max-width:1050px){
  h3{
    line-height: normal;
  }

  h4{
    padding-top: 10px;
    line-height: normal;
    font-size: 1.25em;
  }
}
